.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container h2{
    flex-direction: row;
}

.item-cart-prod {
    width: 100%;
    height: auto;
    margin: 5px;
    display: flex;
}

.item-cart-desc {
    display: flex;
    align-items: center;
    margin: auto;
    width: 20%;
}

.item-cart-cant {
    margin: auto;
    width: 20%;
}

.item-cart-prec {
    margin: auto;
    width: 20%;
}

.img-cart>img {
    width: 100px;
    margin: 15px;
    padding: 5px;
}

.btn-cart-delete {
    display: flex;
    align-items: center;
    width: 20%;
} 

.head-cart-container {
    display: flex;
    width: 100%;
}

.head-cart-prod {
    width: 20%;
}

.head-cart-desc {
    width: 20%;
}

.head-cart-cant {
    width: 20%;
}

.head-cart-prec {
    width: 20%;
}

.head-cart-eliminar {
    width: 20%;
}