.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container h2{
    flex-direction: row;
}

.item-cart-prod {
    width: 100%;
    height: auto;
    margin: 5px;
    display: flex;
}

.item-cart-desc {
    display: flex;
    align-items: center;
    margin: auto;
    width: 20%;
}

.item-cart-cant {
    margin: auto;
    width: 20%;
}

.item-cart-prec {
    margin: auto;
    width: 20%;
}

.img-cart>img {
    width: 100px;
    margin: 15px;
    padding: 5px;
}

.btn-cart-delete {
    display: flex;
    align-items: center;
    width: 20%;
} 

.head-cart-container {
    display: flex;
    width: 100%;
}

.head-cart-prod {
    width: 20%;
}

.head-cart-desc {
    width: 20%;
}

.head-cart-cant {
    width: 20%;
}

.head-cart-prec {
    width: 20%;
}

.head-cart-eliminar {
    width: 20%;
}

form.form-contact {
    width: 400px;
    padding: 30px;
    margin: auto;
}

.form-inputs {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.btn-form {
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: white;
    background: black;
    border-radius: 4px;
    font-size: 16px;
}

.btn-form:hover {
    cursor: pointer;
    background-color: #F6FAFD;
    color: black;
    border-color: black;
}