.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #F0ECE3 !important;
}

.logoImg {
    padding: 10px;
    margin: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 5px;
    margin: 3px;
}

.btn-cart {
    margin-right: 15px;
    margin-left: auto;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: black !important;
}

.Link {
    text-decoration: none;
    color: black;
}

.Link:visited {
    text-decoration: none;
    color: black;
}
